!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Ketfi Kevin | Portfolio
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel: 'stylesheet'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    %meta{name: 'description', content: '3D Modeling / Graphics Design / Digital Art / Digital Painting / Cinema 4D / 3ds Max'}
    %meta{name: 'keywords', content: 'kevin ketfi,portfolio,folio,3d 2d artist,concept,game,modeling,graphics design,digital painting,cinema 4d'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no'}
    
    %meta{property: 'og:site_name', content: 'Ketfi Kevin | Portfolio'}
    %meta{property: 'og:title', content: 'Ketfi Kevin | Portfolio'}
    %meta{property: 'og:url', content: 'http://ketfikevin.fr'}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:image', content: 'http://ketfikevin.fr/img/ketfi-kevin-share.png'}

    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    %header#header.container
      %button.filter-button
        - 8.times do
          %i

      %h1.logo
        = link_to 'Portfolio Ketfi Kevin', root_path

      %ul.contact-infos
        %li
          %a.cv-link{href: '#'} CV
        %li
          %a{href: 'mailto:ketfikevin@gmail.com'} ketfikevin@gmail.com

    %main#content{role: 'main'}
      .filter.container
        %ul.filter-list
          %li
            %a.selected{href: '#', 'data-filter': '*'} All
          - @categories.each do |category|
            %li
              %a{href: '#', 'data-filter': '.' + category.name.parameterize}= category.name

      = yield
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
